body {
    background-color: #C7DEFB;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: #5275A2;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #779DCD;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.biography {
    text-align: justify;
    border: 4px solid #3F6AAC; /* Bordure fine */
    padding: 15px; /* Ajout de marge interne pour éviter que le texte ne touche la bordure */
    outline: 7px solid #15458F; /* Deuxième bordure */
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    margin-right: 10px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    
}


#quiz-form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}


h2 {
  color: #15458F;
  }

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #152770; /* Bordure */
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 20px;
  }

  li {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to bottom, #00CED1, #4169E1);
    -webkit-background-clip: text; /* Appliquer la dégradation uniquement au texte */
    color: transparent; /* Rendre le texte transparent pour permettre la dégradation */
    display: block; /* Pour garder la disposition verticale */
  }

  .temoignage {
    text-align: justify;
    border: 4px solid #3c75cb; /* Bordure fine */
    border-radius: 5%;
    padding: 10px;
}

#myVideo {
    margin-left: 100px; /* Ajustez cette valeur selon vos besoins */
}




#quiz-form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#quiz-form input[type="radio"] {
    margin-right: 5px;
}

#quiz-container {
    width: 60%;
    margin: 0 auto;
}

#quiz-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#quiz-form button:hover {
    background-color: #45a049;}